<a href="https://colab.research.google.com/github/pxs1990/google_colab_ds/blob/main/dspy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PYTHON COURSE FOR DATA SCIENCE
!python --version
print("hello")

Python 3.10.12
hello

In [ ]:
var1='Pushpa'
print(var1)
print(type(var1))
var1=33
print(var1)
print(type(var1))
var1=1.5
print(var1)
print(type(var1))
var1=True
print(var1)
print(type(var1))

Pushpa
<class 'str'>
33
<class 'int'>
1.5
<class 'float'>
True
<class 'bool'>

In [ ]:
D2={'1': 7.4, '2': 9.2, '3': 5.2}

{'1': 7.4, '2': 9.2, '3': 5.2}

In [ ]:
D2={'1': 7.4, '2': 9.2, '3': 5.2}
for k in D2:
  print("key is ", k+' and '+ "value is" ,D2[k])

key is  1 and value is 7.4
key is  2 and value is 9.2
key is  3 and value is 5.2

In [ ]:
#DATA TYPES
id=235
print(id, type(id))
distance=3.5
print(distance,type(distance))
complx=2+3j
print(complx,type(complx))
isStudent=True
print(isStudent,type(isStudent))
name='pushpa'
print(name,type(name))
name="pushpa"
print(name,type(name))

name='''pushpa'''
print(name,type(name))
name="pushpa"
print(name,type(name))

name="""pushpa"""
print(name,type(name))

235 <class 'int'>
3.5 <class 'float'>
(2+3j) <class 'complex'>
True <class 'bool'>
pushpa <class 'str'>
pushpa <class 'str'>
pushpa <class 'str'>
pushpa <class 'str'>
pushpa <class 'str'>

In [ ]:
st="pushpa"
st.capitalize()

'Pushpa'

In [ ]:
st.casefold()# caseless

'pushpa'

In [ ]:
st.center(10,'*')#width>len() and if char is not assigned, it center alligns with space

'**pushpa**'

In [ ]:
st.ljust(10,'*')

'pushpa****'

In [ ]:
st.rjust(10,'*')

'****pushpa'

In [ ]:
st.count('a')

1

In [ ]:
st.encode('ASCII')#converts to byptes

b'pushpa'

In [ ]:
st.endswith('a')#boolean
st.startswith('a')

False

In [ ]:
st1= "Hello\tworld\twith\ttabs."
print(st1)
st1.expandtabs()# default tab size is8
st1.expandtabs(20)

Hello	world	with	tabs.

'Hello               world               with                tabs.'

In [ ]:
st="pushpa"
st.find('u')# index of first occurence of substr
st.find('u',2,5)# index in sliced string
st.rfind("p")#indenx of last occurence of substr

4

In [ ]:
st="pushpa"
st.index('p')# first occurence BUT when index not found it gives ValueError
st.rindex('p')#last occurence

In [ ]:
name="pushpa"
age="33"
st="my name is {} and I am {} years old"
st.format(name,age)#prints formatted str by inserting dynamic values in a placeholder.
#print(f"my name is {name} and I am {age} years old")

'my name is pushpa and I am 33 years old'

In [ ]:
D = {'name': 'Pushpa', 'age': 33}
st = "My name is {name} and I am {age} years old."
st.format_map(D)

'My name is Pushpa and I am 33 years old.'

In [ ]:
st.swapcase()

'MY NAME IS {} AND i AM {} YEARS OLD'

In [ ]:
st.isalpha()

True

In [ ]:
#st.isnumeric(),st.isalnum(), st.isascii(), st.isdigit() ,st.isdecimal(), st.islower(),st.isupper()

In [ ]:
st.isidentifier()
# An identifier is a name used to identify a variable, function, class, module, or other objects in Python.
# It must start with a letter (a-z, A-Z) or an underscore (_).
# The remaining characters can be letters, underscores, or digits (0-9).

In [ ]:
st.istitle()#True each word starts with an uppercase

False

In [ ]:
st.isprintable()#printable chars are easily displayed and unprintable chars are esc chars

In [ ]:
print(', '.join(['a','b','c']))#joins elements from an iterable (like a list, tuple, or string) by joining them together using a specified string separator.
print('-'.join("pushpa"))

a, b, c
p-u-s-h-p-a

In [ ]:
trans_table=st.maketrans('aeiou','12345')
st.translate(trans_table)

'p5shp1'

In [ ]:
st=' Pushpa '
st.strip()#st.lstrip() and st.rstrip()

'Pushpa '

In [ ]:
#returns a 3 ele tuple, if sep not found, then (st, "", "")
st1="hello-pushpa"
st1.partition("-")#(1st, sep, last)
#st1.rpartition("-")#(last,set,1st

('hello', '-', 'pushpa')

In [ ]:
st2="Pushpa"
st2.lower().removeprefix("push")#st.removesuffix()

'pa'

In [ ]:
st="hello Pushpa"
st.replace("hello","hi")

'hi Pushpa'

In [ ]:
st="p,u,s,h,p,a"
print(st.split(',',2))#splits and returns a list with max 2 split from the let
st.rsplit(',',2)# splits and returns a list with max 2 split from the right

['p', 'u', 's,h,p,a']

['p,u,s,h', 'p', 'a']

In [ ]:
l=[1,2,'a','b']
print(l,type(l))
print(l[0])

t=(1,2,'a','b')
print(t,type(t))
print(t[0])

s={1,2,0,'a','b',True,False}
print(s,type(s))

D={'1':'a','2':'b','3':'c','d':'dates','e':'email'}
print(D,type(D))
D['1']

[1, 2, 'a', 'b'] <class 'list'>
1
(1, 2, 'a', 'b') <class 'tuple'>
1
{0, 1, 2, 'a', 'b'} <class 'set'>
{'1': 'a', '2': 'b', '3': 'c', 'd': 'dates', 'e': 'email'} <class 'dict'>

'a'

In [ ]:
#BUILTIN FUNCTIONS FOR LIST
list1=[1,2,3,'a','b',True,False,1]
list1.append('d')#adds at the end
print(list1)

[1, 2, 3, 'a', 'b', True, False, 1, 'd']

In [ ]:
list1=['a','b','c','d']
list1[3]='e'#updates index 3 element
list1

['a', 'b', 'c', 'e']

In [ ]:
list1.extend(['d','e',3,4])
print(list1)

[1, 2, 3, 'a', 'b', True, False, 1, 'd', 'e', 3, 4]

In [ ]:
list1.clear()
print(list1)

[]

In [ ]:
list1=[1, 2, 3, 'a', 'b', True, False, 1, 'd']
list2=list1.copy()
print(list2)

[1, 2, 3, 'a', 'b', True, False, 1, 'd']

In [ ]:
list1.count(1)

3

In [ ]:
list1.index('a',0,7)
list1.index('a')

0

In [ ]:
list1.insert(0,'z')
print(list1)

['z', 1, 2, 3, 'a', 'b', True, False, 1, 'd', 'd', 'e', 3, 4]

In [ ]:
list1.pop()
print(list1)

['a', 'b', 'c']

In [ ]:
list1=['z', 1, 2, 3, 'a', 'b', True, False, 1, 'd', 'd', 'e', 3, 4]
list1.remove('z')
print(list1)

[1, 2, 3, 'a', 'b', True, False, 1, 'd', 'd', 'e', 3, 4]

In [ ]:
list1.reverse()
print(list1)

[4, 3, 'e', 'd', 'z', 'e', 'd', 'd', 'b', 'a']

In [ ]:
l=[ 'e', 'd', 'd' ,'b', 'a', 'z']
l[0]

'e'

In [ ]:
l=[ 'e', 'd', 'd' ,'b', 'a', 'z']
min(l)
max(l)

'z'

In [ ]:
l[-1]

'z'

In [ ]:
l[:3:1]

['e', 'd', 'd']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[0:len(l):1]

['z', 'a', 'b', 'd', 'd', 'e']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[::]

['z', 'a', 'b', 'd', 'd', 'e']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[-1:-(len(l)+1):-1]

['e', 'd', 'd', 'b', 'a', 'z']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[::-1]

['e', 'd', 'd', 'b', 'a', 'z']

In [ ]:
l=['z', 'a', 'b', 'c', 'd', 'e']
l[-2:2:-1]#second last till index 3

['d', 'c']

In [ ]:
l=['z', 'a', 'b', 'c', 'd', 'e']
l[len(l)-1:3:-1]#last index till index 4

['e', 'd']

In [ ]:
# builtin functions for tuple
T=(1,'a',3,5,7,'a','c',1,'a')
T

(1, 'a', 3, 5, 7, 'a', 'c', 1, 'a')

In [ ]:
T[1]

'a'

In [ ]:
T[1:4]

('a', 3, 5)

In [ ]:
T[::-1]

('a', 1, 'c', 'a', 7, 5, 3, 'a', 1)

In [ ]:
T.count('a')

3

In [ ]:
T.index('c')

6

In [ ]:
len(T)

9

In [ ]:
T1=(1,2,3,4,5)
max(T1)
min(T1)

1

In [ ]:
L=[1,2,3]
T=tuple(L)
T

(1, 2, 3)

In [ ]:
#builtin functions for Set
S={1,3,5,7,9,True,'a',3}
S.add('b')
S

{1, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.clear()
S

set()

In [ ]:
S={1,3,5,7,9,True,'a'}
S1=S.copy()#creates a new copy of S in memory.So change in S1 has no effect on S
S1
S1.add('b')
print('S1 is: ',S1)
print('S is: ',S)

S1 is:  {1, 3, 5, 'b', 7, 9, 'a'}
S is:  {1, 3, 5, 7, 9, 'a'}

In [ ]:
S={1,3,5,7,9,True,'a'}
S.remove(1)
print(S)

{3, 5, 7, 9, 'a'}

In [ ]:
s={1,2,3}
s.pop()#removes and returns the arbitrary ele as set is not ordered.
s # popped set

{2, 3}

In [ ]:
S1.difference(S)#returns a new  set S1-S

{'b'}

In [ ]:
S={1, 3, 5, 'b', 7, 9, 'a'}
S1={1,3}
S.difference_update(S1)#updates the original set, returns nothing
S

{5, 7, 9, 'a', 'b'}

In [ ]:
S.discard(5)#updates set with discarding the arg, returns nothing
S

{7, 9, 'a', 'b'}

In [ ]:
S1={7,'c'}
S.intersection(S1)#returns the intersection

{7}

In [ ]:
S.intersection_update(S1)#updates the set as intersection, returns nothing
S

{7}

In [ ]:
S.isdisjoint(S1)#boolean

False

In [ ]:
S.issubset(S1)#boolean

True

In [ ]:
S.issuperset(S1)#boolean

False

In [ ]:
S={1, 3, 5, 'b', 7, 9, 'a'}
S1={1,10,11}
S.symmetric_difference(S1)#Returns So+S1o

{10, 11, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.symmetric_difference_update(S1) #updates set with So+S1o and returns nothing
S

{1, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.union(S1)

{1, 10, 11, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.update({'a','e','i','o','u'})#updates and returns nothing
S

{1, 3, 5, 7, 9, 'a', 'b', 'e', 'i', 'o', 'u'}

In [ ]:
#BUILTIN METHODS FOR DICTIONARY
D={'1':'a','2':'b','3':'c','4':'d','5':'e'}
D1=D.copy()

In [ ]:
D1.clear()
D1

{}

In [ ]:
D.get(1)

'a'

In [ ]:
#D.append() No append() as D is unordered
D['6']='b' # if key '6' already exists, it updates the value.
D

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'b'}

In [ ]:
del D['6']
D

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e'}

In [ ]:
D.update({'6':'b','7':'c'})
D

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'b', '7': 'c'}

In [ ]:
D.keys()

dict_keys(['1', '2', '3', '4', '5', '6', '7'])

In [ ]:
D.values()

dict_values(['a', 'b', 'c', 'd', 'e', 'b', 'c'])

In [ ]:
D={'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'b'}
print(D.pop('5'))# removes and returns the value
# D.pop('7')#KeyError
print(D)

e
{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '6': 'b'}

In [ ]:
D.popitem()#remove and return an arbitrary (key, value) pair as a tuple.

('6', 'b')

In [ ]:
L=['a','b','c']
dict.fromkeys(L,1)#creates a new dictionary with keys from an iterable and assigns the default value to each key.
dict.fromkeys(L)#None val is assigned to each key

{'a': None, 'b': None, 'c': None}

In [ ]:
D={'a':1,'b':2}
print(D.setdefault('c', 3)) # returns a value associated with a given key and updates the D.
D
#D.setdefault('b', 3)# If the key is present in the dictionary, it returns the original value.

3

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# POSITIVE AND NEGATIVE INDEXING IN L AND T(slicing list=creates a new copy but not in np)
l=[0,1,2,3,4,5,6,7,8,9]
print(l[::])
print(l[:5:2])
print(l[::-1])
print(l[-1:-11:-1])
print(l[-1:-(len(l)+1):-1])#default index
print(l[-6::-1])
print(l[-6:-8:-1])
print(l[-len(l)])#accesses ele at -10 index

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[4, 3, 2, 1, 0]
[4, 3]
0

In [ ]:
l=[0,1,2,3,4,5,6,7,8,9]
# POSITIVE SLICING
# 1. positive indexing
print(l[1::2])
# 2. negative indexing
print(l[-6::2])

# NEGATIVE SLICING
# 1.negative indexing
print(l[-1:-4:-1])
# 2. positive indexing
print(l[4:1:-1])# 5th to 3rd index in reverse
print(l[:2:-1])# last to 4th index in reverse.

[1, 3, 5, 7, 9]
[4, 6, 8]
[9, 8, 7]
[4, 3, 2]
[9, 8, 7, 6, 5, 4, 3]

In [ ]:
# RANDOM MODULE
import random
random_number = random.randint(1, 10)# returns random integer between a and b.
print(random_number)

7

In [ ]:
import random
random_number = random.random()# returns random float between 0 & 1
print(random_number)

In [ ]:
import random
random_float = random.uniform(1.5, 5.5)## returns random float between a & b
print(random_float)

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random_choice = random.choice(my_list)#returns random no from the list
print(random_choice)

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)# returns the randomly shuffled list.
print(my_list)

[4, 5, 1, 3, 2]

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random_samples = random.sample(my_list, 3)#returns the random sample list with given len
print(random_samples)

[2, 4, 3]

In [ ]:
    # MATH MODULES
    #math.constants
import math
print(math.inf)
print(math.nan)
print(math.pi)
print(math.tau)
print(math.e)
print(math.sin(0))#accepts only radian values
print(math.radians(90))
print(math.exp(math.log(2)))
print(math.ceil(10.1))
print(math.floor(10.1))
print(math.trunc(10.12))
print(math.factorial(10))
print(math.gcd(10,15))
# Built-in Functions like abs(), min(), max(), round(), sum(), len(),
# type(), int(), float(), str(), list(), tuple(), and dict()
# are available without importing any module.

inf
nan
3.141592653589793
6.283185307179586
2.718281828459045
0.0
1.5707963267948966
2.0
11
10
10
3628800
5

In [ ]:
#list() method: creates a new list from ite obj
l=list()#creates an empty list
l=[]#creates an empty list
my_tuple = (1, 2, 3)
list_from_tuple = list(my_tuple)
print(list_from_tuple)

my_string = "hello"
list_from_string = list(my_string)
print(list_from_string)

my_dict = {'a': 1, 'b': 2}
list_from_dict = list(my_dict)
print(list_from_dict)  # Output: ['a', 'b']

[1, 2, 3]
['h', 'e', 'l', 'l', 'o']
['a', 'b']

In [ ]:
#zip(list1,list2,list3): gives a list of tuple combing multiple ite elementwise
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
print(list(zip(list1, list2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
#dict() method: creates a new dict from other iterable obj
my_dict = dict()# OR my_dict = {}
# Creating a dictionary with list of key-value tuple
new_dict = dict([('a', 1), ('b', 2), ('c', 3)])
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

# Creating a dictionary using dictionary comprehension
my_dict = {k: v for k, v in zip(keys, values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Creating a dictionary using keyword arguments
keyword_dict = dict(a=1, b=2, c=3)
print(keyword_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Python operators: Arithmetic,Assignment,logical,Comparision Operator

# Arithmetic Operator
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)# floor division=quotient
print(a%b)# modulus= remainder
print(a**b)# exponential= power

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# Assignment Operator
a=10
b=2
a+=b
print(a)

a=10
b=2
a-=b
print(a)

a=10
b=2
a*=b
print(a)

a=10
b=2
a/=b
print(a)


a=10
b=2
a%=b
print(a)

a=10
b=2
a//=b
print(a)

a=10
b=2
a**=b
print(a)

12
8
20
5.0
0
5
100

In [ ]:
# BITWISE AND OPERATOR
a=10 #1010
b=2 #0010
a &= b
print(a)# 0010 in binary=2
# 1&1=1
# 1&0=0
# 0&0=0

2

In [ ]:
#BITWISE OR OPERATOR
a=10
b=2
a|=b
print(a)
# 1|1=1
# 1|0=1
# 0|0=0

10

In [ ]:
#LEFT AND RIGHT SHIFTING OF BINARY
#1010 << 2 means shifting 1010 two positions to the left: 101000
#1010 >> 2 means shifting 1010 two positions to the right: 10
a=1010
b=2
a>>=b
print(a)

252

In [ ]:
#EXCLUSIVE OR OPERATION
a=10
b=2
a^=b
print(a)
# 1^1=0
# 0^0=0
# 0^1=1

8

In [ ]:
#COMPARISION OPERATOR
a=10
b=5
print(a==b)

False

In [ ]:
a=10
b=5
print(a!=b)

True

In [ ]:
a=10
b=5
print(a>b)

True

In [ ]:
a=10
b=5
print(a<b)

False

In [ ]:
a=10
b=5
print(a<=b)

False

In [ ]:
a=10
b=5
print(a>=b)

True

In [ ]:
a=5
b=8
c=10
print(a<b and a<c)
print(a<b and c<a)
print(b<a and a<c)

True
False
False

In [ ]:
a=5
b=8
c=10
print(a<b or a<c)
print(a<b or c<a)
print(b<a or a<c)
print(b<a or c<a)

True
True
True

In [ ]:
a=5
b=8
c=10
print(not(a<b and a<c))

False

In [ ]:
#IF-ELSE CONDITIONS
a = 10
b = 20

if a > b: # False
  print('a is greater than b')
else:
  print('a is not grater than b')

In [ ]:
a = 10
b = 20
c = 30

if (a < b) and (c < a):
  print("condition is True")
else:
  print('print condition is not true')

condition is True

In [ ]:
a = 10
b = 20
c = 30

if (a < b) or (b > c) and (a>c):
  print("condition is True")

condition is True

In [ ]:
a = 10
b = 20
c = 30

if (a < b) and ((b > c) and (a>c)):
  print("condition is True")
else:
  print('the above condition did not meet')

the above condition did not meet

In [ ]:
a = 10
b = 20
c = 30

if (a > b):
  print('b>c')
elif (a>c):
  print('a>c')
elif(b>c):
  print('a>c')
else:
  print('none of the condition is true')

none of the condition is true

In [ ]:
age = 70
if (age < 21):
  print('you are too young to buy a beer')
elif (age>=21)and (age<=60):
  print('You are an adult, you can buy a beer')
elif(age>60) and (age<+80):
  print('you are ageing, limit the alcohol consumption!')
else:
  print('Please, dont drink!')
print('This is ourside the loop.')

you are ageing, limit the alcohol consumption!
This is ourside the loop.

In [ ]:
#NESTED IF CONDITIOINS
a = 65
if a < 100:
  print('a < 100')
  if a < 90:
    print('a < 90')
    if a < 70:
      print('a < 70')
      if a < 60:
        print('a < 60')
      else:
        print('a>=60')
    else:
      print('a>=70')
  else:
    print('a >=90')
else:
  print('a>= 100')

a < 100
a < 90
a < 70
a>=60

In [ ]:
a =90
if a < 100:
  print('a < 100')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else of a < 55')
    else:
      print('else of a < 70')
  else:
    print('else of a < 85')
else:
  print('else of a < 100')

a < 100
else of a < 85

In [ ]:
a = 50
if a < 100:
  print('a < 100')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else of a < 55')
    else:
      print('else of a < 70')
  else:
    print('else of a < 85')
else:
  print('else of a < 100')

a < 100
a < 85
a < 70
a < 55

In [ ]:
a = 100
if a < 100:
  print('a < 100')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else of a < 55')
    else:
      print('else of a < 70')
  else:
    print('else of a < 85')
else:
  print('else of a < 100')

else of a < 100

In [ ]:
#LOOP
sum = 0
for i in range(1, 101, 1):
  sum += i
print(sum)

5050

In [ ]:
sum = 0
for i in range(100, 0, -1):
  sum += i
print(sum)

5050

In [ ]:
i = 1
sum = 0

while i < 101:
  sum += i
  i += 1
print (sum)

5050

In [ ]:
i = 100
sum = 0

while i > 0:
  sum += i
  i -= 1
print (sum)

5050

In [ ]:
for i in range(1, 11, 1):
    if i%2==0:
      print(i, 'is even number')
    else:
      print(i,"is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [ ]:
sum=0
for i in range(1, 11, 1):
  sum+=i
  print(sum)
else:
  print("we are in else part")

1
3
6
10
15
21
28
36
45
55
we are in else part

In [ ]:
i = 10
sum = 0
while i >5:
  sum += i
  print(sum)
  i -= 1
else:
  print ('we are in else part')

10
19
27
34
40
we are in else part

In [ ]:
#Nested for loop
for i in range(10):
  for j in range(20):
    print('*', end=' ')# inner loop prints 20 * on the same line with a space inbetween
  print('')# adds new line as *s are printed on same line
print('Nested for loop is done printing a rectangle')

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [ ]:
#print triangle with 10 *
for i in range(10):
  for j in range(i+1):
    print('*' ,end=' ' )
  print('')
print('Nested for loop is done printing a triangle')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
Nested for loop is done printing a triangle

In [ ]:
# print pyramid
for i in range(10):
  for j in range(10-i):
    print('',end=' ' )# for i=0, it prints 10 ''
  k=0
  for k in range(i+1):# for i=0, it prints 1 '*'
    print('*' ,end=' ' )
  print('')
print('Nested for loop is done printing a pyramid')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
Nested for loop is done printing a pyramid

In [ ]:
i=0
while i<10:
  j=0
  while j<20:
    print('*', end=' ')# prints on the same line with a space
    j+=1
  print('')
  i+=1

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [ ]:
i=0
while i<10:
  j=0
  while j<i+1:
    print('*' ,end=' ' )
    j+=1
  i+=1
  print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
i=0
while i <10:
  j=0
  while j< 10-i:
    print('',end=' ' )
    j+=1
  k=0
  while k<i+1:
    print('*' ,end=' ' )
    k+=1
  print('')
  i+=1

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
for i in range (0,10,1):
    for j in range (0,10,1):
        print("[",i,'-',j,"]",end='')
    print()

[ 0 - 0 ][ 0 - 1 ][ 0 - 2 ][ 0 - 3 ][ 0 - 4 ][ 0 - 5 ][ 0 - 6 ][ 0 - 7 ][ 0 - 8 ][ 0 - 9 ]
[ 1 - 0 ][ 1 - 1 ][ 1 - 2 ][ 1 - 3 ][ 1 - 4 ][ 1 - 5 ][ 1 - 6 ][ 1 - 7 ][ 1 - 8 ][ 1 - 9 ]
[ 2 - 0 ][ 2 - 1 ][ 2 - 2 ][ 2 - 3 ][ 2 - 4 ][ 2 - 5 ][ 2 - 6 ][ 2 - 7 ][ 2 - 8 ][ 2 - 9 ]
[ 3 - 0 ][ 3 - 1 ][ 3 - 2 ][ 3 - 3 ][ 3 - 4 ][ 3 - 5 ][ 3 - 6 ][ 3 - 7 ][ 3 - 8 ][ 3 - 9 ]
[ 4 - 0 ][ 4 - 1 ][ 4 - 2 ][ 4 - 3 ][ 4 - 4 ][ 4 - 5 ][ 4 - 6 ][ 4 - 7 ][ 4 - 8 ][ 4 - 9 ]
[ 5 - 0 ][ 5 - 1 ][ 5 - 2 ][ 5 - 3 ][ 5 - 4 ][ 5 - 5 ][ 5 - 6 ][ 5 - 7 ][ 5 - 8 ][ 5 - 9 ]
[ 6 - 0 ][ 6 - 1 ][ 6 - 2 ][ 6 - 3 ][ 6 - 4 ][ 6 - 5 ][ 6 - 6 ][ 6 - 7 ][ 6 - 8 ][ 6 - 9 ]
[ 7 - 0 ][ 7 - 1 ][ 7 - 2 ][ 7 - 3 ][ 7 - 4 ][ 7 - 5 ][ 7 - 6 ][ 7 - 7 ][ 7 - 8 ][ 7 - 9 ]
[ 8 - 0 ][ 8 - 1 ][ 8 - 2 ][ 8 - 3 ][ 8 - 4 ][ 8 - 5 ][ 8 - 6 ][ 8 - 7 ][ 8 - 8 ][ 8 - 9 ]
[ 9 - 0 ][ 9 - 1 ][ 9 - 2 ][ 9 - 3 ][ 9 - 4 ][ 9 - 5 ][ 9 - 6 ][ 9 - 7 ][ 9 - 8 ][ 9 - 9 ]

In [ ]:
i=0
while i<10:
    j=0
    while j<10:
        print("[",i,'-',j,"]",end='')
        j+=1
    print()
    i+=1

[ 0 - 0 ][ 0 - 1 ][ 0 - 2 ][ 0 - 3 ][ 0 - 4 ][ 0 - 5 ][ 0 - 6 ][ 0 - 7 ][ 0 - 8 ][ 0 - 9 ]
[ 1 - 0 ][ 1 - 1 ][ 1 - 2 ][ 1 - 3 ][ 1 - 4 ][ 1 - 5 ][ 1 - 6 ][ 1 - 7 ][ 1 - 8 ][ 1 - 9 ]
[ 2 - 0 ][ 2 - 1 ][ 2 - 2 ][ 2 - 3 ][ 2 - 4 ][ 2 - 5 ][ 2 - 6 ][ 2 - 7 ][ 2 - 8 ][ 2 - 9 ]
[ 3 - 0 ][ 3 - 1 ][ 3 - 2 ][ 3 - 3 ][ 3 - 4 ][ 3 - 5 ][ 3 - 6 ][ 3 - 7 ][ 3 - 8 ][ 3 - 9 ]
[ 4 - 0 ][ 4 - 1 ][ 4 - 2 ][ 4 - 3 ][ 4 - 4 ][ 4 - 5 ][ 4 - 6 ][ 4 - 7 ][ 4 - 8 ][ 4 - 9 ]
[ 5 - 0 ][ 5 - 1 ][ 5 - 2 ][ 5 - 3 ][ 5 - 4 ][ 5 - 5 ][ 5 - 6 ][ 5 - 7 ][ 5 - 8 ][ 5 - 9 ]
[ 6 - 0 ][ 6 - 1 ][ 6 - 2 ][ 6 - 3 ][ 6 - 4 ][ 6 - 5 ][ 6 - 6 ][ 6 - 7 ][ 6 - 8 ][ 6 - 9 ]
[ 7 - 0 ][ 7 - 1 ][ 7 - 2 ][ 7 - 3 ][ 7 - 4 ][ 7 - 5 ][ 7 - 6 ][ 7 - 7 ][ 7 - 8 ][ 7 - 9 ]
[ 8 - 0 ][ 8 - 1 ][ 8 - 2 ][ 8 - 3 ][ 8 - 4 ][ 8 - 5 ][ 8 - 6 ][ 8 - 7 ][ 8 - 8 ][ 8 - 9 ]
[ 9 - 0 ][ 9 - 1 ][ 9 - 2 ][ 9 - 3 ][ 9 - 4 ][ 9 - 5 ][ 9 - 6 ][ 9 - 7 ][ 9 - 8 ][ 9 - 9 ]

In [ ]:
#PYTHON BUILT IN FUNCTIONS
a=int(input('Enter your marks in Math: '))
b=int(input('Enter your marks in Science: '))
print(a+b)

Enter your marks in Math: 100
Enter your marks in Science: 90
190

In [ ]:
a=float(input('Enter your marks in Math: '))
b=float(input('Enter your marks in Science: '))
print(a+b)

Enter your marks in Math90
Enter your marks in Science90
180.0

In [ ]:
a=complex(input('Enter your marks in Math: '))
b=complex(input('Enter your marks in Science: '))
print(a+b)

Enter your marks in Math: 2j
Enter your marks in Science: 3j
5j

In [ ]:
a=str(200)
print (a)

200

In [ ]:
str1='pushpa'
print(list(str1))
print(tuple(str1))
print(set(str1))

['p', 'u', 's', 'h', 'p', 'a']
('p', 'u', 's', 'h', 'p', 'a')
{'p', 'u', 'a', 'h', 's'}

In [ ]:
list_tup1=[(1,'a'),(2,'b'),(3,'c')]
print(dict(list_tup1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
list_list1=[[1,'a'],[2,'b'],[3,'c']]
print(dict(list1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
tup_tup1=((1,'a'),(2,'b'),(3,'c'))
print(dict(list_tup1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
tup_list1=([1,'a'],[2,'b'],[3,'c'])
print(dict(tup_list1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# set_list1={[1,'a'],[2,'b'],[3,'c']}
# print(dict(set_list1)) Gives error as  dictionary keys cannot be mutable but list are mutable

In [ ]:
set_tup1={(1,'a'),(2,'b'),(3,'c')}
print(dict(set_tup1))

{2: 'b', 1: 'a', 3: 'c'}

In [ ]:
#NUMBER FORMAT
for i in range(0,100,1):
    print('Decimal: ',i)#base-10
    print('Binary: ',bin(i))# base-2
    print('Octa Decimal: ',oct(i))# base-8
    print('Hexa Decimal: ',hex(i))#base-16

Decimal:  0
Binary:  0b0
Octa Decimal:  0o0
Hexa Decimal:  0x0
Decimal:  1
Binary:  0b1
Octa Decimal:  0o1
Hexa Decimal:  0x1
Decimal:  2
Binary:  0b10
Octa Decimal:  0o2
Hexa Decimal:  0x2
Decimal:  3
Binary:  0b11
Octa Decimal:  0o3
Hexa Decimal:  0x3
Decimal:  4
Binary:  0b100
Octa Decimal:  0o4
Hexa Decimal:  0x4
Decimal:  5
Binary:  0b101
Octa Decimal:  0o5
Hexa Decimal:  0x5
Decimal:  6
Binary:  0b110
Octa Decimal:  0o6
Hexa Decimal:  0x6
Decimal:  7
Binary:  0b111
Octa Decimal:  0o7
Hexa Decimal:  0x7
Decimal:  8
Binary:  0b1000
Octa Decimal:  0o10
Hexa Decimal:  0x8
Decimal:  9
Binary:  0b1001
Octa Decimal:  0o11
Hexa Decimal:  0x9
Decimal:  10
Binary:  0b1010
Octa Decimal:  0o12
Hexa Decimal:  0xa
Decimal:  11
Binary:  0b1011
Octa Decimal:  0o13
Hexa Decimal:  0xb
Decimal:  12
Binary:  0b1100
Octa Decimal:  0o14
Hexa Decimal:  0xc
Decimal:  13
Binary:  0b1101
Octa Decimal:  0o15
Hexa Decimal:  0xd
Decimal:  14
Binary:  0b1110
Octa Decimal:  0o16
Hexa Decimal:  0xe
Decimal:  15
Binary:  0b1111
Octa Decimal:  0o17
Hexa Decimal:  0xf
Decimal:  16
Binary:  0b10000
Octa Decimal:  0o20
Hexa Decimal:  0x10
Decimal:  17
Binary:  0b10001
Octa Decimal:  0o21
Hexa Decimal:  0x11
Decimal:  18
Binary:  0b10010
Octa Decimal:  0o22
Hexa Decimal:  0x12
Decimal:  19
Binary:  0b10011
Octa Decimal:  0o23
Hexa Decimal:  0x13
Decimal:  20
Binary:  0b10100
Octa Decimal:  0o24
Hexa Decimal:  0x14
Decimal:  21
Binary:  0b10101
Octa Decimal:  0o25
Hexa Decimal:  0x15
Decimal:  22
Binary:  0b10110
Octa Decimal:  0o26
Hexa Decimal:  0x16
Decimal:  23
Binary:  0b10111
Octa Decimal:  0o27
Hexa Decimal:  0x17
Decimal:  24
Binary:  0b11000
Octa Decimal:  0o30
Hexa Decimal:  0x18
Decimal:  25
Binary:  0b11001
Octa Decimal:  0o31
Hexa Decimal:  0x19
Decimal:  26
Binary:  0b11010
Octa Decimal:  0o32
Hexa Decimal:  0x1a
Decimal:  27
Binary:  0b11011
Octa Decimal:  0o33
Hexa Decimal:  0x1b
Decimal:  28
Binary:  0b11100
Octa Decimal:  0o34
Hexa Decimal:  0x1c
Decimal:  29
Binary:  0b11101
Octa Decimal:  0o35
Hexa Decimal:  0x1d
Decimal:  30
Binary:  0b11110
Octa Decimal:  0o36
Hexa Decimal:  0x1e
Decimal:  31
Binary:  0b11111
Octa Decimal:  0o37
Hexa Decimal:  0x1f
Decimal:  32
Binary:  0b100000
Octa Decimal:  0o40
Hexa Decimal:  0x20
Decimal:  33
Binary:  0b100001
Octa Decimal:  0o41
Hexa Decimal:  0x21
Decimal:  34
Binary:  0b100010
Octa Decimal:  0o42
Hexa Decimal:  0x22
Decimal:  35
Binary:  0b100011
Octa Decimal:  0o43
Hexa Decimal:  0x23
Decimal:  36
Binary:  0b100100
Octa Decimal:  0o44
Hexa Decimal:  0x24
Decimal:  37
Binary:  0b100101
Octa Decimal:  0o45
Hexa Decimal:  0x25
Decimal:  38
Binary:  0b100110
Octa Decimal:  0o46
Hexa Decimal:  0x26
Decimal:  39
Binary:  0b100111
Octa Decimal:  0o47
Hexa Decimal:  0x27
Decimal:  40
Binary:  0b101000
Octa Decimal:  0o50
Hexa Decimal:  0x28
Decimal:  41
Binary:  0b101001
Octa Decimal:  0o51
Hexa Decimal:  0x29
Decimal:  42
Binary:  0b101010
Octa Decimal:  0o52
Hexa Decimal:  0x2a
Decimal:  43
Binary:  0b101011
Octa Decimal:  0o53
Hexa Decimal:  0x2b
Decimal:  44
Binary:  0b101100
Octa Decimal:  0o54
Hexa Decimal:  0x2c
Decimal:  45
Binary:  0b101101
Octa Decimal:  0o55
Hexa Decimal:  0x2d
Decimal:  46
Binary:  0b101110
Octa Decimal:  0o56
Hexa Decimal:  0x2e
Decimal:  47
Binary:  0b101111
Octa Decimal:  0o57
Hexa Decimal:  0x2f
Decimal:  48
Binary:  0b110000
Octa Decimal:  0o60
Hexa Decimal:  0x30
Decimal:  49
Binary:  0b110001
Octa Decimal:  0o61
Hexa Decimal:  0x31
Decimal:  50
Binary:  0b110010
Octa Decimal:  0o62
Hexa Decimal:  0x32
Decimal:  51
Binary:  0b110011
Octa Decimal:  0o63
Hexa Decimal:  0x33
Decimal:  52
Binary:  0b110100
Octa Decimal:  0o64
Hexa Decimal:  0x34
Decimal:  53
Binary:  0b110101
Octa Decimal:  0o65
Hexa Decimal:  0x35
Decimal:  54
Binary:  0b110110
Octa Decimal:  0o66
Hexa Decimal:  0x36
Decimal:  55
Binary:  0b110111
Octa Decimal:  0o67
Hexa Decimal:  0x37
Decimal:  56
Binary:  0b111000
Octa Decimal:  0o70
Hexa Decimal:  0x38
Decimal:  57
Binary:  0b111001
Octa Decimal:  0o71
Hexa Decimal:  0x39
Decimal:  58
Binary:  0b111010
Octa Decimal:  0o72
Hexa Decimal:  0x3a
Decimal:  59
Binary:  0b111011
Octa Decimal:  0o73
Hexa Decimal:  0x3b
Decimal:  60
Binary:  0b111100
Octa Decimal:  0o74
Hexa Decimal:  0x3c
Decimal:  61
Binary:  0b111101
Octa Decimal:  0o75
Hexa Decimal:  0x3d
Decimal:  62
Binary:  0b111110
Octa Decimal:  0o76
Hexa Decimal:  0x3e
Decimal:  63
Binary:  0b111111
Octa Decimal:  0o77
Hexa Decimal:  0x3f
Decimal:  64
Binary:  0b1000000
Octa Decimal:  0o100
Hexa Decimal:  0x40
Decimal:  65
Binary:  0b1000001
Octa Decimal:  0o101
Hexa Decimal:  0x41
Decimal:  66
Binary:  0b1000010
Octa Decimal:  0o102
Hexa Decimal:  0x42
Decimal:  67
Binary:  0b1000011
Octa Decimal:  0o103
Hexa Decimal:  0x43
Decimal:  68
Binary:  0b1000100
Octa Decimal:  0o104
Hexa Decimal:  0x44
Decimal:  69
Binary:  0b1000101
Octa Decimal:  0o105
Hexa Decimal:  0x45
Decimal:  70
Binary:  0b1000110
Octa Decimal:  0o106
Hexa Decimal:  0x46
Decimal:  71
Binary:  0b1000111
Octa Decimal:  0o107
Hexa Decimal:  0x47
Decimal:  72
Binary:  0b1001000
Octa Decimal:  0o110
Hexa Decimal:  0x48
Decimal:  73
Binary:  0b1001001
Octa Decimal:  0o111
Hexa Decimal:  0x49
Decimal:  74
Binary:  0b1001010
Octa Decimal:  0o112
Hexa Decimal:  0x4a
Decimal:  75
Binary:  0b1001011
Octa Decimal:  0o113
Hexa Decimal:  0x4b
Decimal:  76
Binary:  0b1001100
Octa Decimal:  0o114
Hexa Decimal:  0x4c
Decimal:  77
Binary:  0b1001101
Octa Decimal:  0o115
Hexa Decimal:  0x4d
Decimal:  78
Binary:  0b1001110
Octa Decimal:  0o116
Hexa Decimal:  0x4e
Decimal:  79
Binary:  0b1001111
Octa Decimal:  0o117
Hexa Decimal:  0x4f
Decimal:  80
Binary:  0b1010000
Octa Decimal:  0o120
Hexa Decimal:  0x50
Decimal:  81
Binary:  0b1010001
Octa Decimal:  0o121
Hexa Decimal:  0x51
Decimal:  82
Binary:  0b1010010
Octa Decimal:  0o122
Hexa Decimal:  0x52
Decimal:  83
Binary:  0b1010011
Octa Decimal:  0o123
Hexa Decimal:  0x53
Decimal:  84
Binary:  0b1010100
Octa Decimal:  0o124
Hexa Decimal:  0x54
Decimal:  85
Binary:  0b1010101
Octa Decimal:  0o125
Hexa Decimal:  0x55
Decimal:  86
Binary:  0b1010110
Octa Decimal:  0o126
Hexa Decimal:  0x56
Decimal:  87
Binary:  0b1010111
Octa Decimal:  0o127
Hexa Decimal:  0x57
Decimal:  88
Binary:  0b1011000
Octa Decimal:  0o130
Hexa Decimal:  0x58
Decimal:  89
Binary:  0b1011001
Octa Decimal:  0o131
Hexa Decimal:  0x59
Decimal:  90
Binary:  0b1011010
Octa Decimal:  0o132
Hexa Decimal:  0x5a
Decimal:  91
Binary:  0b1011011
Octa Decimal:  0o133
Hexa Decimal:  0x5b
Decimal:  92
Binary:  0b1011100
Octa Decimal:  0o134
Hexa Decimal:  0x5c
Decimal:  93
Binary:  0b1011101
Octa Decimal:  0o135
Hexa Decimal:  0x5d
Decimal:  94
Binary:  0b1011110
Octa Decimal:  0o136
Hexa Decimal:  0x5e
Decimal:  95
Binary:  0b1011111
Octa Decimal:  0o137
Hexa Decimal:  0x5f
Decimal:  96
Binary:  0b1100000
Octa Decimal:  0o140
Hexa Decimal:  0x60
Decimal:  97
Binary:  0b1100001
Octa Decimal:  0o141
Hexa Decimal:  0x61
Decimal:  98
Binary:  0b1100010
Octa Decimal:  0o142
Hexa Decimal:  0x62
Decimal:  99
Binary:  0b1100011
Octa Decimal:  0o143
Hexa Decimal:  0x63

In [ ]:
list1=['a','b','c','d']
x=iter(list1)
print(next(x))
print(next(x))
print(next(x))
print(next(x))

a
b
c
d

In [ ]:
set1={'a','b','c','d'}
it=iter(set1)
print(next(it))
print(next(it))
print(next(it))
print(next(it))

b
c
a
d

In [ ]:
str1="pushpa"
it=iter(str1)
print(next(it))
print(next(it))
print(next(it))
print(next(it))

p
u
s
h

In [ ]:
#Complete Built in functions
print(abs(-2))

2

In [ ]:
#aiter(b)
import asyncio
async def async_iterable():
    yield 1
    yield 2
    yield 3

async def iterate():
    async for i in async_iterable():
        print(i)

async def main():
    await iterate()

# Run the asyncio event loop with the main coroutine
if __name__ == "__main__":
    asyncio.run(main())

RuntimeError: ignored

In [ ]:
#anext()
async def async_iterator(): # Creating an asynchronous iterable
    yield 1
    yield 2
    yield 3


ait = async_iterator().__aiter__() # Creating an asynchronous iterator

# Asynchronously getting the next values
async def get_values():
    try:
        while True:
            value = await ait.__anext__()  # Using anext() to get the next value
            print(value)
    except StopAsyncIteration:
        print("Async iterator finished")

# Running the asynchronous task to get values
import asyncio
asyncio.run(get_values())

RuntimeError: ignored

In [ ]:
#all() Returns True if all elements are True or list is empty
print(all([True,True,True]))
num=[1,2,3,4]
all(i % 2 == 0 for i in num)

True

False

In [ ]:
#any() Returns True if any elements are True or False if list is empty
print(any([False,False,False]))
num=[1,2,3,4]
any(i % 2 == 0 for i in num)

False

True

In [ ]:
# ASCII Characters:
# Letters: A-Z, a-z
# Numbers: 0-9
# Punctuation: !@#$%^&*()_+-=[]{}|;':",./<>?
# ASCII characters
ascii_str = 'Hello, this is an example with ASCII characters: !@#$%^&*()_+-=[]{}|;\'":,./<>?'
print(ascii(ascii_str))# returns only the string containing a printable obj

In [ ]:
# bin () converts and returns a binary no
bin(5)

'0b101'

In [ ]:
#bool()
# The bool() function evaluates different types of values and returns True for non-zero numerical values,
#  non-empty sequences (like strings, lists, tuples), and any non-None object.
#   It returns False for zero values, empty sequences, and None.
bool(1)

True

In [ ]:
#sets a breakpoint in your Python code for debugging purposes.
def some_function():
    x = 10
    y = 20
    z = x + y

    # Set a breakpoint here
    breakpoint()

    print(z)

some_function()

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.10/bdb.py", line 336, in set_trace
    sys.settrace(self.trace_dispatch)

> <ipython-input-3-7da279b68f93>(10)some_function()
      8     breakpoint()
      9
---> 10     print(z)
     11
     12 some_function()

ipdb> a

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.10/bdb.py", line 361, in set_quit
    sys.settrace(None)


PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/debugger.py", line 1075, in cmdloop
    sys.settrace(None)

--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user
30

In [ ]:
#bytearray() -->creates byte arrays from different types of input data
empty_bytearray = bytearray(10)
print(empty_bytearray)
integers = [65, 66, 67, 68]
bytearray_from_list = bytearray(integers)
print(bytearray_from_list)
# This will raise a TypeError since bytes objects are immutable
bytearray_from_list[0] = 69
bytearray_from_list

#Byte arrays are often used to handle binary data, such as reading
# or writing binary files, network communication, or encoding/decoding data.

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
bytearray(b'ABCD')

bytearray(b'EBCD')

In [ ]:
#byte() -->creates byte object from different types of input data
empty_bytes = bytes(5)  # Create an empty bytes object of size 5
print(empty_bytes)
integers = [65, 66, 67, 68]
bytes_from_list = bytes(integers)
print(bytes_from_list)
# cant update byte obj as its immutable

b'\x00\x00\x00\x00\x00'
b'ABCD'

In [ ]:
#callable()-->It returns True if the object appears callable (i.e.fun), and False otherwise.
print(callable(len))
callable(10)

True

False

In [ ]:
#chr()--> Unicode character for the specified Unicode code point
chr(65)

'A'

In [ ]:
# @classmethod: It's primarily used  to define a class method within a class.
# The method defined using @classmethod receives the class itself (conventionally named cls)
#  as the first argument rather than an instance of the class (self).
# It can be called on the class itself, and it operates on the class and its attributes, not on instances
class MyClass:
    class_variable = 10

    def __init__(self, value):
        self.value = value

    @classmethod
    def show_class_variable(cls):
        print(cls.class_variable)

    @classmethod
    def change_class_variable(cls, new_value):
        cls.class_variable = new_value

# Using class methods
MyClass.show_class_variable()  # Output: 10

MyClass.change_class_variable(20)
MyClass.show_class_variable()  # Output: 20

10
20

In [ ]:
#compile()-->execute Python code dynamically at runtime or when you need to work with Python code as a string.
source_code = '''
def greet(name):
    return f"Hello, {name}!"

result = greet("Alice")
print(result)
'''

compiled_code = compile(source_code, "<string>", "exec")

# Execute the compiled code
exec(compiled_code)

# source: The Python source code as a string or AST object to be compiled.
# filename: A string representing the file from which the code was read. If the code is entered interactively
#      or doesn't originate from a file, you can use " <string>".
# mode: Specifies the kind of code to be compiled. It can be one of the following strings: "exec", "eval", or "single".

Hello, Alice!

In [ ]:
complex(3, 4)

(3+4j)

In [ ]:
#delattr(object, attribute_name)
class MyClass:
    def __init__(self, x):
        self.x = x

# Creating an instance of MyClass
myClass= MyClass(5)

# Accessing and printing the attribute
print(myClass.x)  # Output: 5

# Deleting the attribute using delattr()
delattr(myClass, 'x')

# Trying to access the deleted attribute (will raise AttributeError)
print(myClass.x)
# Output (raises AttributeError): AttributeError: 'MyClass' object has no attribute 'x'

In [ ]:
#dir([object])-->returns a list of valid attributes for the given object.
class MyClass:
    def __init__(self):
        self.x = 10
        self.y = 20

    def method(self):
        pass

obj = MyClass()

# Listing attributes of the object using dir()
attributes = dir(obj)
print(attributes)

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'method', 'x', 'y']

In [ ]:
#divmod()-->returns a tuple containing the quotient and remainder.
divmod(20, 7)

(2, 6)

In [ ]:
#enumerate(my_list)--> access both the index and value of elements in an iterable object during iteration
my_list = ['apple', 'banana', 'orange']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: orange

In [ ]:
#eval()-->executes the code written in the string within the current scope.
x = 10
y = 20

result = eval('x + y')
print(result)  # Output: 30

# Using globals and locals
globals_dict = {'x': 5, 'y': 8}
locals_dict = {}

result = eval('x + y', globals_dict, locals_dict)
print(result)  # Output: 13

30
13

In [ ]:
#filter(fun, iterable)-->It filters elements based on a specified function and returns an iterator of the elements that satisfy the condition.
# Function to check if a number is even
def is_even(num):
    return num % 2 == 0

# List of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filtering even numbers using filter()
even_numbers = filter(is_even, numbers)

print(list(even_numbers))  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
#frozenset(iterable)-->gives the immutable set
# Creating a frozenset from a list
my_list = [1, 2, 2, 3, 4, 4, 5]
frozen = frozenset(my_list)

print(frozen)

# Operations on frozenset
empty_frozen = frozenset()  # Creating an empty frozenset
print(empty_frozen)  # Output: frozenset()

# Trying to modify a frozenset (results in an AttributeError)
# frozen.add(6)  # Raises AttributeError: 'frozenset' object has no attribute 'add'

frozenset({1, 2, 3, 4, 5})
frozenset()

In [ ]:
# Using frozenset with dictionary
data = {'key1': 100, 'key2': 200, 'key3': 300}
frozen_keys = frozenset(data.keys())

# Using frozen_keys in another set or dictionary
other_set = {frozen_keys}
print(other_set)  # Output: {frozenset({'key1', 'key2', 'key3'})}

{frozenset({'key2', 'key3', 'key1'})}

In [27]:
#PY USER DEFINED FUNCTION
def calc(a,b,c):
    result=c*(a + b)-a*b/c
    return result
calc(5,2,2)

9.0

In [34]:
def calc1(a,b,c):
    r1=(a+b+c)
    r2=(a-b-b)
    r3=(a*b*c)
    r4=(a/b/c)
    return {'r1':r1,'r2':r2,'r3':r3,'r4':r4}
calc1(5,3,2)

{'r1': 10, 'r2': -1, 'r3': 30, 'r4': 0.8333333333333334}

In [40]:
def draw_rectangle(w,l):
    for i in range(w):
        for j in range(l):
            print('*', end=' ')
        print('')
draw_rectangle(5,10)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [41]:
def draw_triangle(l):
    for i in range(l):
        for j in range(i):
            print('*', end=' ')
        print('')
draw_triangle(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [46]:
def draw_pyramid(l):
    for i in range(10):
        for j in range(10-i):
            print('',end=' ' )# for i=0, it prints 10 ''
        k=0
        for k in range(i+1):# for i=0, it prints 1 '*'
            print('*' ,end=' ' )
        print('')
draw_pyramid(10)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [47]:
def odd_even(a):
    if a%2==0:
        print('The number',a,'is even')
    else:
        print('The number', a, 'is odd')
odd_even(10)

The number 10 is even

In [48]:
def eval_grade(n):
    if n>=85:
        print('You passed with First Class Distinction.')
    elif n>=60:
        print('You passed with First Class.')
    elif n>=40:
        print('You passed with Second Class.')
    elif n>=35:
        print('You passed with Third Class.')
    else:
        print('Sorry! You failed. Better luck next time!!')
eval_grade(87)

You passed with First Class Distinction.