<a href="https://colab.research.google.com/github/pxs1990/google_colab_ds/blob/main/py_coding_takeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#1. fungtions using *args
def use_args(*args):
    result=0
    for i in args:
        result+=i
    return result

use_args(5,4,2,3,2)

16

In [6]:
def use_args(*args):
    result=100
    for i in args:
        result-=i
    return result

use_args(5,4,2,3,2)

84

In [7]:
def use_args(*args):
    result=1
    for i in args:
        result*=i
    return result

use_args(5,4,2,3,2)

240

In [8]:
def use_args(*args):
    result=10
    for i in args:
        result/=i
    return result

use_args(5,4,2,3,2)

0.041666666666666664

In [9]:
def use_args(*args):
    result=10
    for i in args:
        result//=i
    return result

use_args(5,4,2,3,2)

0

In [11]:
def use_args(*args):
    result=10
    for i in args:
        if i%2==0:
            print(i, 'is an even number')
        else:
            print(i,'is an odd number')
use_args(5,4,2,3,2)

5 is an odd number
4 is an even number
2 is an even number
3 is an odd number
2 is an even number

In [12]:
def use_args(*args):
    result=2
    for i in args:
        result**=i
    return result

use_args(5,4,2,3,2)

1766847064778384329583297500742918515827483896875618958121606201292619776

In [18]:
#2. py program for **kwargs
def use_kwargs(**kwargs):
    s=set()
    for i in kwargs:
        s.add(i)
    print(s)
use_kwargs(a='apple',b='ball',c='cat',d='dog')

{'c', 'a', 'd', 'b'}

    1. abs()	Returns the absolute value of a number
	2. all()	Returns True if all items in an iterable object are true
	3. any()	Returns True if any item in an iterable object is true
	4. bin()	Returns the binary version of a number
	5. bool()	Returns the boolean value of the specified object
	6. complex()	Returns a complex number
	7. dict()	Returns a dictionary (Array)
	8. enumerate()	Takes a collection (e.g. a tuple) and returns it as an enumerate object
	9. eval()	Evaluates and executes an expression
	10. exec()	Executes the specified code (or object)
	11. filter()	Use a filter function to exclude items in an iterable object
	12. float()	Returns a floating point number
	13. format()	Formats a specified value
	14. help()	Executes the built-in help system
	15. hex()	Converts a number into a hexadecimal value
	16. id()	Returns the id of an object
	17. input()	Allowing user input
	18. int()	Returns an integer number
	19. iter()	Returns an iterator object
	20. len()	Returns the length of an object
	21. list()	Returns a list
	22. max()	Returns the largest item in an iterable
	23. min()	Returns the smallest item in an iterable
	24. next()	Returns the next item in an iterable
	25. oct()	Converts a number into an octal
	26. open()	Opens a file and returns a file object
	27. ord()	Convert an integer representing the Unicode of the specified character
	28. pow()	Returns the value of x to the power of y
	29. print()	Prints to the standard output device
	30. property()	Gets, sets, deletes a property
	31. range()	Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
	32. repr()	Returns a readable version of an object
	33. reversed()	Returns a reversed iterator
	34. round()	Rounds a numbers
	35. set()	Returns a new set object
	36. slice()	Returns a slice object
	37. sorted()	Returns a sorted list
	38. str()	Returns a string object
	39. sum()	Sums the items of an iterator
	40. tuple()	Returns a tuple
	41. type()	Returns the type of an object

In [19]:
#Built in functions
abs(2-4)

2

In [21]:
all([2>3,True])

False

In [22]:
any([2>3,True])

True

In [60]:
print(bin(5))
print(hex(12))
print(oct(11))

0b101
0xc
0o13

In [24]:
bool(1)#True for non-zero

True

In [25]:
complex(1,2)

(1+2j)

In [26]:
dict([(1,'a'),(2,'b'),(3,'c')])#L of T or L of L

{1: 'a', 2: 'b', 3: 'c'}

In [30]:
for i in enumerate(['apple', 'banana', 'orange']):#to iterate list
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'orange')

In [31]:
eval('5+2')

7

In [32]:
source_code = '''
def greet(name):
    return f"Hello, {name}!"

result = greet("Alice")
print(result)
'''

compiled_code = compile(source_code, "<string>", "exec")

# Execute the compiled code
exec(compiled_code)

Hello, Alice!

In [36]:
#filter(fun, iterable)-->It filters ite based on a specified function.

def is_even(num):
    return num % 2 == 0
even_numbers = filter(is_even, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [39]:
print(float(2))

2.0

In [40]:
"my name is {} and I am {}".format('Pushpa',33)#replaces placeholder with values

'my name is Pushpa and I am 33'

In [41]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [43]:
id(10)#returns a unique identifier/ memory address

139736470487568

In [44]:
isinstance(12,int)

True

In [45]:
input('Enter you name:')

Enter you name:Pushpa

'Pushpa'

In [46]:
int(2.2)

2

In [49]:
l = [1, 3, 5, 7, 9]
itr = iter(l)

try:
    while True:
        print(next(itr))
except StopIteration:
    pass

1
3
5
7
9

In [50]:
len([1,2,3])# len of any ite

3

In [57]:
print(list('Pushpa'))
print(list((1,2,3)))
print(list({1:'a',2:'b',3:'c'}))
print(list({1:'a',2:'b',3:'c'}.values()))
print(list({1:'a',2:'b',3:'c'}.items()))

['P', 'u', 's', 'h', 'p', 'a']
[1, 2, 3]
[1, 2, 3]
['a', 'b', 'c']
[(1, 'a'), (2, 'b'), (3, 'c')]

In [59]:
print(max('pushpa'))#of ite
print(min([1,2,3,4,0]))

u
0

In [62]:
path='/content/drive/MyDrive/Dataset/dsinput.txt'
with open(path,'w') as f:
    #print(f.read())
    f.write("This line is appended from python")

In [63]:
#ord()-->ord('A') returns the ordinal value or Unicode code point of A
ord('A')

65

In [64]:
#pow()-->exponential
print(pow(2, 3))
print(pow(2, 3, 5))  # Calculates (2 ** 3) % 5

8
3

In [65]:
#property()-->allows implementation of getter and setter()
class MyClass:
    def __init__(self):
        self._x = None

    def get_x(self):
        return self._x

    def set_x(self, value):
        self._x = value

    x = property(get_x, set_x)

obj = MyClass()
obj.x = 10
print(obj.x)

10

In [69]:
range(3)
for i in range(3):
    print(i)

0
1
2

In [70]:
#repr()-->  used to obtain the string representation of an object for debugging purpose.
x = 10
r=repr(x)
print(r) # string '10'
print(eval(r)) # int 10

y = [1, 2, 3]
print(repr(y))  # Output: '[1, 2, 3]'

10
10
[1, 2, 3]

In [74]:
reversed([1,2,3])
list(reversed([1,2,3]))

[3, 2, 1]

In [77]:
print(round(1.5))
print(round(1.55,1))

2
1.6

In [82]:
print(set([2,2,3]))
print(set({'a':'apple','b':'ball'}))
print(set({'a':'apple','b':'ball'}.items()))

{2, 3}
{'a', 'b'}
{('b', 'ball'), ('a', 'apple')}

In [83]:
#setattr()-->  sets the value of an attribute on an object.
class Person:
    pass

obj = Person()

# Setting attributes using setattr()
setattr(obj, 'name', 'Pushpa')
setattr(obj, 'age', 33)

# Accessing the attributes
print(obj.name)
print(obj.age)

Pushpa
33

In [88]:
#slice() instead of indexing
l = [1, 2, 3, 4, 5]
l[slice(2,4)]

[3, 4]

In [89]:
#sorted()-->  sorts the iterable obj keeping the original obj unchanged.
print(sorted([1,3,2,5,4]))
sorted('pushpa', reverse=True)

[1, 2, 3, 4, 5]

['u', 's', 'p', 'p', 'h', 'a']

In [90]:
str(1)

'1'

In [91]:
sum([1,2,3])# sums ite

6

In [93]:
tuple({1,2,3})

(1, 2, 3)

In [96]:
print(type(1.2))
l=[1,2]
type(l)

<class 'float'>

list

In [97]:
#staticmethod() -->returns a static method from a function defined within a class.
class MyClass:
    @staticmethod
    def static_method():
        return "This is a static method."

# Calling the static method without an instance of the class
MyClass.static_method()

'This is a static method.'

In [98]:
class MyClass:
    def __init__(self, value):
        self.value = value

    def instance_method(self):
        return f"This is an instance method. Value: {self.value}"

# Creating an instance of the class
obj = MyClass(10)

# Calling an instance method using the instance
obj.instance_method()

'This is an instance method. Value: 10'