<a href="https://colab.research.google.com/github/pxs1990/google_colab_ds/blob/main/py_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Swap the number without using third varible**

In [ ]:
x=int(input("enter the first number "))
y=int(input("enter the Second number "))
print(x,y)#3,2
x=x+y#total
y=x-y#should have been x, but we flipped.
x=x-y#total-switched y
print(x,y)

enter the first number 3
enter the Second number 2
3 2
2 3

# 2. Write a Program to extract each digit from an integer in the reverse order.

In [ ]:
int1=234
int2=str(int1)
print(int2[::-1])

432

**3.Write a program that will give you the sum of 3 digit number and check if it is palyndrome**

In [ ]:
def sum3(n):
    unit=n%10#547
    first2=n//10
    ten=first2%10
    hund=n//100
    return unit+ten+hund
sum3(547)

16

4.Write a program that will reverse a four digit number.

In [ ]:
def rev4(n):
    a=n%10#2345
    first3=n//10
    b=first3%10
    first2=n//100
    c=first2%10
    d=n//1000
    return a*1000+b*100+c*10+d
print(rev4(1234))
def ispalynd(n):
    if n==rev4(n):
        return True
    return False
ispalynd(1221)

4321

True